/* content */
.item__box {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    overflow: scroll;
}

.search__box {
    padding: 5px;
    padding-right: 15px;
    display: flex;
    margin-left: 1rem;
}

.search__box input {
    width: 100%;
    background-color: #444;
    padding: 5px;
    padding-left: 10px;
    color: #ddd;
    font-size: 0.8rem;
    height: 1.4rem;
    border: none;
    border-radius: 5px;
}

.item__box .item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #444;
    padding: 5px;
    padding-right: 15px;
    cursor: pointer;
}

.item__box .item:first-of-type {
    border-top: 1px solid #444;
}

.item__box .item .top {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.item__box .item .title {
    display: flex;
    font-size: 1.1rem;
    width: 100%;
}

.item__box .item .d_day {
    width: 100%;
    max-width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item__box .item .d_day span {
    background: rgb(33, 162, 174);
    font-size: 0.8rem;
    padding: 2px 6px;
    border-radius: 5px;
}

.item__box .item .bottom {
    color: #ccc;
}

.item__box .item .bottom .date {
    display: flex;
    column-gap: 5px;
    font-size: 0.9rem;
}